html, body {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    
    background-color: #ffffff;
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you!  transparenttextures.com */
}



